{% extends "base.html" %} {% block content %}
<h1>Login</h1>

{% if wrongPassword %}
<p>Username or Password are incorrect!!</p>
{% endif %}

<form method="POST" action="/login/">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{redirect}}">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="username"
      type="text"
      id="sample3"
    />
    <label class="mdl-textfield__label" for="sample3">Username...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="password"
      type="password"
      id="sample3"
    />
    <label class="mdl-textfield__label" for="sample3">Password...</label>
  </div>
  
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Login
  </button>
</form>

<h2>Are you new here?</h2>
<p>Click <a href="/register/">here</a> to sign up.</p>
{% endblock %}
